# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.alvey
host=127.0.0.1

#mainnet default
port=3889

#testnet default
#port=13889

#regtest default
#port=23889

#signet default
#port=33889

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=f1cfa6d3
genesis=000000001421468e58e0e1fd8ce030ccb49c950f0d342896f693f445b4abbc8b
input=/home/example/.alvey/blocks

# testnet
#netmagic=0d221506
#genesis=00000000f7c801bd0bd578ab93bc9bab0913a15a9a2fc0b1b66858c32b55886c
#input=/home/example/.alvey/testnet3/blocks

# regtest
#netmagic=fdddc6e1
#genesis=0000ea73a54d692110e5edd92d9675f9e7b1977ec89417a8b32543ed16e8ec54
#input=/home/example/.alvey/regtest/blocks

# signet
#netmagic=0a03cf40
#genesis=00000008819873e925422c1ff0f99f7cc9bbb232af63a077a480a3633bee1ef6
#input=/home/example/.bitcoin/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
